extends ../layouts/layout

block main
  main(role="main" class="inner cover")
        h1(class="cover-heading") Federation of Ebonyi State Students
        p(class="lead") Welcome to the Federation of Ebonyi State Students(FESS) Association, University of Ibadan chapter. This is a simple website for collating the members' registration details. The executives thought it would be easy and much better creating a basic website, to help alleviate the stress of student's registration. We promise to contact you as soon as possible.
        p(class="lead")
          a(href="#" class="btn btn-lg btn-secondary") Remember, We love you!
